extends default
block content

    h2=data.user_name+'Varaus'

    form(action='/reservation', method='post')
            .reservationcontainer
                input(type='text', placeholder='Varauksen nimi', name='reservation', required='')
                button(type='submit') Lis채채
                label
    
                input(type='text', placeholder='Varauksen nimi', name='reservation', required='')
                input(type='date', placeholder='P채iv채', name='reservationDay', required='')
                input(type='time', placeholder='Aika', name='reservationTime', required='')

block login
    a(href='/logout') Kirjaudu ulos